{% load static %}
<footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-4">
            <div class="logo">
              <h6 class="text-white">Contact Info</h6>
            </div>
            <div class="contact-details">
              <p>Drew Pham</p>
              <p>Austin, TX</p>
              <p>Phone: (512)299-5558</p>
              <p>Email: <a href="mailto:drewvpham@gmail.com">drewvpham@gmail.com</a></p>

              <ul class="social-menu">
                <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>

              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menus d-flex">

            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </div>

    </footer>
