{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Hero Sectionsad-->
<section style="
    background: url({%static 'img/test.jpg'%});
    background-size: cover;
    background-position: center center;
  " class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Hello World!</h1>
            </div>
        </div>

    </div>
</section>
<!-- Intro Section-->
<section class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2 class="h3">About me</h2>
                <p class="text-big">
                    My name is Drew Pham and it looks like you found a corner of the internet that belongs to yours truly.
                </p>

                <p class="text-big">
                    I am from the gulf coast of Texas and currently reside in the great city of Austin, TX where I spend my days as a software engineer for Whole Foods Market, trying good eats around the city, and playing catch with my Australin
                    Shepherd, Kiker.
                </p>

                <p class="text-big">
                    This blog was intended to be used to journal my thoughts as I explore web development and machine learning, but will likely contain plenty of food and life updates.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="featured-posts no-padding-top">
    <div class="container">
        <header>
            <h2 class="mb-4">Some of my work</h2>
        </header>
        <!-- Post-->
        <div class='row'>
            {% for project in object_list %}
            <div class="col-md-4 d-flex align-items-stretch">
                {# d-flex align-items #}
                <div class="card mb-4 shadow-sm d-flex">
                    {% if project.thumbnail%}
                    <img src="{{ project.thumbnail.url }}" alt="..." class="img-responsive card-img-top">
                    {% else %}
                    <svg class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: No Image Available">
                        <title>Placeholder</title>
                        <rect width="100%" height="100%" fill="#55595c" /><text x="20%" y="50%" fill="#eceeef" dy=".3em">No Image Available</text>
                    </svg>
                    {% endif %}



                    <div class="card-body">
                        <h5>{{project.title}}</h2>
                            <p class="card-text">{{project.overview}}</p>
                            <div class="d-flex justify-content-between">


                                <div class="btn-group">
                                    {% if project.post %}
                                    <a href="{{project.url}}" target="_blank" class="float-left btn btn-outline-secondary btn-sm" role="button">Visit Site</a>
                                            {% endif %}

                                  {% if project.post %}
                                  <a href="{{project.post.get_absolute_url}}" class="float-right btn btn-outline-info btn-sm" role="button">Read Post</a>
                                            {% endif %}
                                </div>

                            </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</section>
<!-- Divider Section-->
<section style="
    background: url({%static 'img/divider-bg.jpg'%});
    background-size: cover;
    background-position: center bottom;
  " class="divider">

</section>

<section class="featured-posts no-padding-top">
    <div class="container">
        <header>
            <h2 class="mb-4">Latest blog updates</h2>
        </header>
        <!-- Post-->
            {% for obj in latest %}
            <div class="row d-flex align-items-stretch">
                {% if not forloop.first and not forloop.last %}
                <div class="image col-lg-5">
                    <img src="{{ obj.thumbnail.url }}" alt="..." />
                </div>
                {% endif %}
                <div class="text col-lg-7">
                    <div class="text-inner d-flex align-items-center">
                        <div class="content">
                            <header class="post-header">
                                <div class="category">
                                    {% for cat in obj.categories.all %}
                                    <a href="#">{{ cat }}</a>
                                    {% endfor %}
                                </div>
                                <a href="{{ obj.get_absolute_url }}">
                                    <h2 class="h4">{{ obj.title }}</h2>
                                </a>
                            </header>
                            <p>{{ obj.overview|linebreaks|truncatechars:200 }}</p>
                            <div class="category">
                              {% for cat in obj.categories.all %}
                              <a href="#">{{ cat }}</a>
                              {% endfor %}
                            </div>
                            <footer class="post-footer d-flex align-items-center">

                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                    <div class="avatar">
                                        <img src="{{ obj.author.profile_picture.url }}" alt="..." class="img-fluid" />
                                    </div>
                                    <div class="title"><span>{{ obj.author }}</span></div>
                                </a>
                                <div class="date">
                                    <i class="icon-clock"></i> {{ obj.timestamp|timesince }} ago
                                </div>
                                <div class="comments">
                                    <i class="icon-comment"></i>{{ obj.comment_count }}
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
                {% if forloop.first or forloop.last %}
                <div class="image col-lg-5">
                    <img src="{{ obj.thumbnail.url }}" alt="..." />
                </div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
</section>


<!-- Newsletter Section-->
<section class="newsletter no-padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Signup for more dog photos and project updates!</h2>
                <p class="text-big">

                </p>
            </div>
            <div class="col-md-8">
                <div class="form-holder">
                    <form action="{% url 'email-list-signup' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form }}
                            <button type="submit" class="submit">Signup</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Section-->
<section class="gallery no-padding">
    <div class="row">
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item">
                <a href="{% static 'img/gallery-1.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-3.jpg' %}" alt="..." class="img-rotate" />
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <i class="icon-search"></i></div>
                </a>
            </div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item">
                <a href="{% static 'img/kikervid1.mp4' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/kiker2.jpg' %}" type="video/mp4" alt="..." class="img-fluid" />
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <i class="icon-search"></i></div>
                </a>
            </div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item">
                <a href="{% static 'img/kiker3.jpg' %}" data-fancybox="gallery" class="image-fluid"><img src="{% static 'img/kiker3.jpg' %}" alt="..." class="img-fluid" />
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <i class="icon-search"></i></div>
                </a>
            </div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
            <div class="item">
                <a href="{% static 'img/gallery-4.jpg' %}" data-fancybox="gallery" class="image"><img src="{% static 'img/gallery-4.jpg' %}" alt="..." class="img-fluid" />
                    <div class="overlay d-flex align-items-center justify-content-center">
                        <i class="icon-search"></i></div>

                </a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
