
{% extends "base.html" %}

 {% block content %}
{% load static %}


<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h2>Projects</h2>
      <p class="lead text-muted">Welcome to my project portfolio! I am constantly experimenting with new technologies. Please feel free suggest a project or discuss any of my work.</p>
      <p>

        <a href="mailto:drewvpham@gmail.com" target="_blank" class="btn btn-primary">Get in touch!</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">



      <div class="row">
      <div class="card-deck">
            {% for project in object_list %}
            <div class="col-lg-4 d-flex align-items-stretch">
      <div class="card mb-4">
          {% if project.thumbnail%}
              <img src="{{ project.thumbnail.url }}" alt="..." class="card-img-top">
              {% else %}

           <svg class="bd-placeholder-img card-img-top" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: No Image Available"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="20%" y="50%" fill="#eceeef" dy=".3em">No Image Available</text></svg>
               {% endif %}

        <div class="card-body">
          <h6 class="card-title">{{project.title}}</h6>
          <p class="card-text">{{project.overview}}</p>

        </div>


       <div class="card-footer text-center">
          <div class="group">
              {% if project.url %}
              <a href="{{project.url}}" target="_blank" class="small btn btn-outline-secondary btn-sm" role="button">Visit Site</a>
              {% endif %}

              {% if project.github %}
              <a href="{{project.github}}" target="_blank" class="small btn btn-outline-info btn-sm" role="button">View Code</a>
           {% endif %}


            {% if project.post %}
            <a href="{{project.post.get_absolute_url}}" class="small btn btn-outline-warning btn-sm" role="button">Read Post</a>
         {% endif %}
          </div>
              </div>
        </div>
            </div>
        {% endfor %}
      </div>
 </div>


    </div>
  </div>

</main>
{%endblock%}
